.footer_container {
    flex-shrink: 0;
    margin: 2rem 0 0 0;
}

.footer_content {
    padding: 2rem;
    display: flex;
    background-color: #3f50b5;
    color: #fff;
    justify-content: space-between;
    align-items: center;
}

.footer_content__menu {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}

.footer_content__menu_button {
    color: #fff;
    margin: 0 0.5rem;
}

@media only screen and (max-width: 600px) {
    .footer_content__menu {
        display: none;
    }
}